
supplemental-lab-scripts/.Rhistory
lecture-slides/01-R-basics/.Rhistory
lecture-slides/02-Programming/.Rhistory
lecture-slides/03-Productivity/~$Git_and_GitHub.pptx
lecture-slides/04-Wrangling/04-Wrangling_cache
lecture-slides/04-Wrangling/04-Wrangling-with-solutions_cache
lecture-slides/05-Cleaning/05-Cleaning_cache
lecture-slides/05-Cleaning/.Rhistory
lecture-slides/06-Acquisition/06-Acquisition_cache
lecture-slides/06-Acquisition/06-Acquisition-with-solutions_cache
lecture-slides/07-Best-Practices/07-Best-Practices_cache
lecture-slides/08-Distinguishing-Goals/08-Distinguishing-Goals_cache
lecture-slides/08-Exploratory/08-Exploratory-part1_cache
lecture-slides/08-Exploratory/08-Exploratory-part2_cache
lecture-slides/08-Exploratory/08-Exploratory-part2-with-solutions_cache
lecture-slides/09-Exploratory/08-Exploratory-part1_cache
lecture-slides/09-Exploratory/08-Exploratory-part2_cache
lecture-slides/09-Exploratory/08-Exploratory-part2-with-solutions_cache
lecture-slides/09-Exploratory/09-Exploratory-part1_cache
lecture-slides/09-Exploratory/09-Exploratory-part2_cache
lecture-slides/09-Exploratory/09-Exploratory-part2-with-solutions_cache
lecture-slides/11-Visualization/.Rhistory
lecture-slides/11-Visualization/09-Visualization_cache
lecture-slides/11-Visualization/11-Visualization_cache
lecture-slides/10-Regression/10-Regression_cache
lecture-slides/10-Regression/11-Regression_cache
lecture-slides/13-Learning/12-Learning_cache
lecture-slides/13-Learning/13-Learning_cache
lecture-slides/14-Prediction/.Rhistory
lecture-slides/14-Prediction/13a-Shrinkage_cache
lecture-slides/14-Prediction/14a-Shrinkage_cache
lecture-slides/14-Prediction/13b-Tidymodels_cache
lecture-slides/14-Prediction/14b-Tidymodels_cache
lecture-slides/15-Classification/14a-Classification_cache
lecture-slides/15-Classification/14b-Examples_cache
lecture-slides/15-Classification/15a-Classification_cache
lecture-slides/15-Classification/15b-Examples_cache
lecture-slides/16-ML-Applications/15-ML-Applications_cache
lecture-slides/16-ML-Applications/16-ML-Applications_cache
lecture-slides/12-Spatial/.Rhistory
lecture-slides/12-Spatial/16-Spatial-part1_cache
lecture-slides/12-Spatial/16-Spatial-part2_cache
lecture-slides/12-Spatial/16-Spatial-part2-with-solutions_cache
lecture-slides/12-Spatial/12-Spatial-part1_cache
lecture-slides/12-Spatial/12-Spatial-part2_cache
lecture-slides/12-Spatial/12-Spatial-part2-with-solutions_cache
lecture-slides/17-Databases/17-Databases_cache
lecture-slides/17-Databases/.Rhistory
